pipeline/MultipleActivities.json
{
	"name": "MultipleActivities",
	"properties": {
		"activities": [
			{
				"name": "plGetMetadata",
				"description": "Folder Metadata to be captured ",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "FileSystemDataSet",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "filterGetMetData",
				"description": "This Filter activity have been used to fetch only those files that starts with A, from the on prem folder ",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "plGetMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('plGetMetadata').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'A')",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}