pipeline/MultipleActivities.json
{
	"name": "MultipleActivities",
	"properties": {
		"activities": [
			{
				"name": "plGetMetadata",
				"description": "Folder Metadata to be captured  - 0420 ",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "FileSystemDataSet",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "filterGetMetData",
				"description": "This Filter activity have been used to fetch only those files that starts with A, from the on prem folder ",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "plGetMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('plGetMetadata').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'e')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LoopCopyingFiles",
				"description": "ForEach activities used to copy file from on prem location to ADLS",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "filterGetMetData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('filterGetMetData').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyDataUsingForEach",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@{item().name}",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": "*.*"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DataSetForEachCopy",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ADSLGen2ForEachLoop",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}